################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/data-grabber/obj
/page-retriever/obj
/data-grabber/bin/Debug/net8.0
/page-retriever/bin/Debug/net8.0
/Common/bin/Debug/net8.0
/Common/obj
/page-retriever/bin/Debug
